{% load static %}
<!DOCType html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
    <title>Payment Failed</title>
</head>
<body>
<div class="container">
    <div class="row">
        <span style="color:red;">Payment Failed!!</span>
    </div>
</div>

<script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/jquery-3.4.1.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>